.container,
.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9,
.container10,
.container11,
.container12,
.container13,
.container14,
.container15,
.container16,
.container17,
.container18,
.container19,
.container20 {
  color: #061d21;
}

/* Container font usage */
.container1 {
  font-family: "SuisseIntl-Black";
  font-size: 14rem;
}
.container2 {
  font-family: "SuisseIntl-BlackItalic";
  font-size: 14rem;
}
.container3 {
  font-family: "SuisseIntl-Bold";
  font-size: 14rem;
}
.container4 {
  font-family: "SuisseIntl-BoldItalic";
  font-size: 14rem;
}
.container5 {
  font-family: "SuisseIntl-Book";
  font-size: 14rem;
}
.container6 {
  font-family: "SuisseIntl-BookItalic";
  font-size: 14rem;
}
.container7 {
  font-family: "SuisseIntl-Light";
  font-size: 14rem;
}
.container8 {
  font-family: "SuisseIntl-LightItalic";
  font-size: 14rem;
}
.container9 {
  font-family: "SuisseIntl-Medium";
  font-size: 14rem;
}
.container10 {
  font-family: "SuisseIntl-MediumItalic";
  font-size: 14rem;
}
.container11 {
  font-family: "SuisseIntl-Regular";
  font-size: 14rem;
}
.container12 {
  font-family: "SuisseIntl-RegularItalic";
  font-size: 14rem;
}
.container13 {
  font-family: "SuisseIntl-SemiBold";
  font-size: 14rem;
}
.container14 {
  font-family: "SuisseIntl-SemiBoldItalic";
  font-size: 14rem;
}
.container15 {
  font-family: "SuisseIntl-Thin";
  font-size: 14rem;
}
.container16 {
  font-family: "SuisseIntl-ThinItalic";
  font-size: 14rem;
}
.container17 {
  font-family: "SuisseIntl-Ultralight";
  font-size: 14rem;
}
.container18 {
  font-family: "SuisseIntl-UltralightItalic";
  font-size: 14rem;
}
